<% if @article.errors.any? %>
  <p>The form contains <%= pluralize(@article.errors.count, "error") %></p>
  <% for error in @article.errors.full_messages %>
  <ul>
    <li><%= error %></li>
  </ul>
  <% end %>
<% end %>
<hr />
<%= link_to "Back", article_path(@article) %>
<hr />
<%= form_for @article , :html => { :multipart => true } do |f| %>
   <%= f.label :title %><br />
   <%= f.text_field :title %><br />
   
    <%= f.label :category %><br /><%= link_to "Add category", new_category_path %><br />
  	<%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name)) %><br />
   
   <%= f.label :article %><br />
   <%= f.text_area :article %><br />
   
   <%= f.file_field :photo %><br />
   
   <%= f.submit "Update Article"%>
<% end %>
