<h2>New Article</h2>
<% if @article.errors.any? %>
  <p>The form contains <%= pluralize(@article.errors.count, "error") %></p>
  <% for error in @article.errors.full_messages %>
  <ul>
    <li><%= error %></li>
  </ul>
  <% end %>
<% end %>
<hr />
<%= link_to "Back", articles_path %>
<hr />

<%= form_for @article, :html => { :multipart => true } do |f|%>
  <p>
  	<%= f.label :title %><br />
  	<%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :category %><%= link_to "Add category", new_category_path %><br />
  	<%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name)) %>
  <p>
  	<%= f.label :article %><br />
  	<%= f.text_area :article %>
  </p>
  <p>
  	<%= f.file_field :photo %>
  </p>
  <p>
  	<%= f.submit "Post Article" %>
  </p>
<% end %>
